footer{
     background-color: $titles;
     padding: 30px;
     div{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img{
               width: 200px;
          }
          .iconsfooter{
               display: inline;
               margin-bottom: 10px;
               .bi{
                    color: $backgroundcolor;
               }
          }
     }
}